.env
vendor/
.vscode/
tailwindcss-linux-x64
public/css/app.css
composer.lock
writable/session/ci_session*
writable/debugbar/debugbar_*
writable/logs/log-*
app/Database/Database.db
tailwindcss
public/robots.txt
public/sitemap.xml
